@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F39C12;
  --primary-hover: #E67E22;
  --primary-dark: #2C3E50;
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
  }
}